@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Black.eot');
    src: local('Circular Std Black'), local('CircularStd-Black'),
        url('..font/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('..font/CircularStd-Black.woff2') format('woff2'),
        url('..font/CircularStd-Black.woff') format('woff'),
        url('..font/CircularStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Medium.eot');
    src: local('Circular Std Medium'), local('CircularStd-Medium'),
        url('..font/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('..font/CircularStd-Medium.woff2') format('woff2'),
        url('..font/CircularStd-Medium.woff') format('woff'),
        url('..font/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Bold.eot');
    src: local('Circular Std Bold'), local('CircularStd-Bold'),
        url('../font/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/CircularStd-Bold.woff2') format('woff2'),
        url('../font/CircularStd-Bold.woff') format('woff'),
        url('../font/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-Book.eot');
    src: local('Circular Std Book'), local('CircularStd-Book'),
        url('..font/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('..font/CircularStd-Book.woff2') format('woff2'),
        url('..font/CircularStd-Book.woff') format('woff'),
        url('..font/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Circular Std', sans-serif;
}


.container {
    width: 1140px;
    margin: 0 auto;
}

.main-btn {
    background-color: #F04037;
    border-radius: 3px;
    padding: 12px 45px;
    color: white;
}

.main-btn:hover {
    box-shadow: 4px 4px 13px 0px rgba(50, 50, 50, 0.59);
    transition: 0.5s;
}

.main-btn a {
    color: white !important; 
}

.bar-drop {
    display: none;
}

.main-header {
    background-color: #F2F2F2;
}

.navbar .navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.navbar-list-links {
    font-size: 0;
}

.navbar .navbar-list-item {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
}

.navbar-list-links .dropdown-menu-1 {
    position: relative;
    padding-bottom: 14px;
}

.navbar-list-links .dropdown-menu-row {
    position: absolute;
    z-index: 999;
    background-color: white;
    border-top: 3px solid #435cc9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 245%;
    box-shadow: 4px 4px 13px 0px rgba(50, 50, 50, 0.59);
    display: none;
    top: 100%;
}

.dropdown-menu-1:hover .dropdown-menu-row {
    display: block;
}


.navbar-list-links .dropdown-menu-2 {
    position: relative;
}

.navbar-list-links .dropdown-menu-row-2 {
    position: absolute;
    top: 45%;
    left: -125%;
    z-index: 9999;
    background-color: white;
    border-top: 3px solid #F04037;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 125%;
    padding: 10px 20px;
    box-shadow: 4px 4px 13px 0px rgba(50, 50, 50, 0.59);
    display: none;
}

.dropdown-menu-2:hover .dropdown-menu-row-2 {
    display: block;
}

.navbar-list-item-link .caret-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-list-links .dropdown-menu-row .navbar-list-dropdown-item {
    padding: 8px 0;
    padding-left: 15px;
    cursor: pointer;
}

.navbar-list-links .main-btn {
    margin-left: 15px;
}

.navbar .navbar-list-item-logo {
    font-weight: bolder;
    font-size: 20px;
}

.navbar .navbar-list-item a {
    color: #19191B;
}


.navbar .navbar-list-item a:hover {
    color: #435cc9;

}

.navbar .main-btn {
    padding: 7px 25px;
}

.promo {
    background-color: #F2F2F2;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promo .wrapper {
    padding: 40px 0;
}

.section-image {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.promo-image {
    width: 300px;
}

.section-content {
    width: 50%;
}

.section-title {
    font-size: 54px;
}

.section-text {
    font-size: 18px;
    line-height: 32px;
    padding: 30px 0;
    width: 90%;
}

.input-place {
    padding: 18px 44px;
    padding-right: 202px;
    border-radius: 8px;
    outline: none;
    border: .4px solid #69687150;
    color: #696871;
    font-weight: 500;
}

.email-form {
    position: relative;
    margin-top: 5px;
}

.email-form i {
    position: absolute;
    left: 15px;
    top: 18px;
    font-size: 18px;
    color: #CDCCD9;
}

.email-form .main-btn {
    position: absolute;
    right: 172px;
    top: 7px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-weight: bold;
}